*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #555;
}
.navbar .navbar-title{
	margin: 20px 25px;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 4px;
}
.navbar .navbar-title span{
	color: yellow;
}
/*-----*/
.navbar-links{
	
}
.navbar-links ul{
	display: flex;
}
.navbar-links ul li{
	list-style: none;
	padding: 26px;
}
.navbar-links ul li:hover{
	background-color: #333;
}
.navbar-links ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
/*--------*/
.toggle-button{
	position: absolute;
	width: 30px;
	height: 20px;
	top: 25px;
	right: 25px;
	display: none;
	justify-content: space-between;
	flex-direction: column;
}
.toggle-button .bar{
	width: 100%;
	height: 3px;
	background-color: white;
}

/*----------*/

@media(max-width: 850px)
{
	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar .navbar-links{
		display: none;
		width: 100%;
	}
	.navbar .navbar-links ul{
		flex-direction: column;
		width: 100%;
		
	}
	.navbar .navbar-links ul li{
		padding: 12px;
		text-align: center;
	}
	.navbar .navbar-links ul li a{

	}
	.toggle-button{
		display: flex;
	}
	.navbar-links.active{
		display: flex;
	}
}